*{margin: 0; padding: 0; box-sizing: border-box;}
*{outline: 1px solid red}

.wrapper {
    font-family: 'Open Sans', sans-serif; font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    width: 1600px;
    padding-top: 28px;
    text-transform: uppercase
}


.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.header {
    width: 1110px; 
    margin-bottom: 93px;
    background-color: #ffffff;
    margin: 0 auto
}

a {
    text-decoration: none
}

ul {
    list-style:none
}

h1 {
    margin: 0px;
}

.h1 a {
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    float: left;
}

 .h1 a::first-letter {
     color: #1abc9c; font-weight: 900
}

.top-menue {
    float: right;
}    
  
.menue-header-1 {
    float: left;
    margin-right: 35px
}
.menue-header-2 {
    float: left;
    margin-right: 35px
}
    
.menue-header-3 {
    float: left;
    margin-right: 29px;
}

.menue-header-4 {
    float: left;
    margin-right: 24px
}

.menue-header-5 {
    float: left;
    margin-right: 32px
}
.menue-header-6 {
    float: left;
    margin-right: 0px;
}

 .top-link {
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: block;
    line-height: 32px;
}
.top-menue a:hover {
    color: #1abc9c
}

h2 {
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 82px
}
h2::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 16px auto 0px
}

 .section1 {
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
 }
     
.card1 {
    position: relative;
    width: 1600px;
    height: 600px;
         
}    



.overlay {
    color: #ffffff; 
    text-align: center;
    padding-top: 200px
}

.click {
    font-size: 100px;
    color: #ffffff; 
    background-color: #1abc9c; 
    opacity: 0.65;
    border: none
}
.prev {
    position: absolute;
    width: 105px;
    height:105px;
    display: block;
    top: 225px;
    left: 245px;

  
}

.prev::before {
    content: '\003C';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
   }

.next {
    position: absolute;
    width: 105px;
    height:105px;
    display: block;
    top: 225px;
    right: 245px;
}

.next::before {
    content: '\003E';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);

}

.main-text {
    font-size: 60px; 
    font-weight: 900;
    line-height: 82px
}

.light-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 54px
    
}

.section2 {
    background-color: #e9f0fd;
    width: 1600px;
    padding-top: 96px;
    padding-bottom: 100px
   
}


.products {
   width: 1110px; 
   color: #fff;
   font-size: 0px;
   margin: 0 auto
   
}



.card {
    position: relative ;
    display: inline-block;
    width: 255px;
    margin-right: 30px;
   
}
.products :last-child {margin-right: 0px}


.name {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 201px;    
    display: inline-block;
    background-color: #323232;
    font-size: 18px;
    margin-right: 0px;
    font-weight: 900;
    line-height: 40px;
    padding-left: 11px;

}

.price {
    position: absolute;
    left: 201px;
    bottom: 0px;
    width: 54px;
    display: inline-block;
    background-color: #8c8c8c;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;
    
}

  

.boxes {
    content: "";
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    font-weight: 100;
    font-family: 'Font Awesome';
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ffffff;
    margin-right: 7.5px;
  
    
 } 

 .box {
    width: 165px;
    height: 50px;
    font-size: 30px;
    padding-left: 12px;
    line-height: 50px;
}

 .box::after {
    content: "add to cart";
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-left: 20px;
       
 }

  .order-info { 

     position: absolute;
     top: 0px;
     left: 0px;
     width: 255px;
     height: 282px;
     background-color: rgba(73, 73, 73, 0.55);
    box-sizing: border-box;
    border: 10px solid rgba(255, 255, 255, 0.52); 
     display: none

 }


 
 .cards-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
 }

 .cards-order :nth-child(3n) {
     margin-right: 0px
 }

 .card:hover > .order-info {
     display: block;
 }

 .boxes:hover {
     background-color: #1abc9c;
     border: none
 }

 .box:hover {
     background-color: #323232
 }

.card:hover > .name {
    background-color: #1abc9c;
    color: #ffffff
}

.card:hover > .price {
    background-color: #7fd9c7;
    color: #ffffff;
    
}

.copyright {
    width: 1600px;
    background-color: #323232;
    font-size: 16px;
    line-height: 28px;
    font-weight: 28px;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.copyright:hover {
     color: #1abc9c
}

    
      